.point {
  height: 30px;
  width: 30px;
  border:1px solid #ccc;
  border-radius: 30px;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
  position: relative;
  color:#fff;
  background-color: #2c2c2c;
}