.point {
  height: 30px;
  width: 30px;
  border:1px solid #ccc;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
  position: relative;
  top: 100px;
  left: 100px
}